/* line 1, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_header.scss */
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh;
  background: linear-gradient(180deg, #e68a00, #ffeb99);
}

/* line 7, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_header.scss */
#logo {
  font-family: 'Alegreya', serif;
  color: #737373;
  font-size: 2.2rem;
  margin-left: 9vw;
  text-shadow: 8px 12px 13px #6a6a48;
}

/* line 1, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_nav.scss */
#navigation {
  width: 100%;
  background-color: #ffeb99;
}

/* line 5, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_nav.scss */
nav ul li {
  display: inline;
  font-size: 2.4em;
  margin-left: 11vw;
}

/* line 10, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_nav.scss */
#navigation a:link {
  text-decoration: none;
  color: #4d4d4d;
  font-family: 'Bree Serif', serif;
  text-shadow: 3px 3px 3px #999966;
}

/* line 17, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_nav.scss */
#navigation a:hover {
  text-shadow: -3px -3px 4px #999966;
}

/* line 20, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_nav.scss */
#navigation a:visited {
  color: #4d4d4d;
  text-decoration: none;
}

/* line 1, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_subscribe.scss */
#subscribe {
  width: 100%;
  height: 16vh;
  background: linear-gradient(280deg, #e68a00, #ffeb99);
  color: aqua;
  font-size: 2.2em;
  box-shadow: -12px -12px 8px #ffe066;
}

/* line 9, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_subscribe.scss */
#subscribe form {
  float: right;
  margin-right: 19vw;
  margin-top: 4vh;
}

/* line 15, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_subscribe.scss */
#subscribe form input[type="email"] {
  height: 3.6vh;
  margin-right: 1.8vw;
}

/* line 19, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_subscribe.scss */
#subscribe form label {
  margin-right: 3.6vw;
  margin-top: 4vh;
  color: #737373;
  text-shadow: 2px 2px 2px #6b6b47;
}

/* line 1, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/base/_reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 2, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/modules/_buttons.scss */
#btn {
  width: 14vw;
  height: 9vh;
  background: #262626;
  color: white;
  margin: auto;
  text-align: center;
  padding: 1.5vh;
  box-sizing: border-box;
  margin-top: 3.1vh;
  border: 2px solid #bfbfbf;
  border-radius: 5px;
  text-shadow: 1px 1px 1px #bfbfbf;
  font-size: 1em;
  cursor: pointer;
}

/* line 1, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_footer.scss */
#footer {
  width: 85%;
  background-color: #e65c00;
  margin: auto;
  height: 10vh;
  text-align: center;
  padding: 4vh;
  box-sizing: border-box;
  font-size: 1.2em;
  color: #5c5c3d;
  font-weight: bold;
  margin-top: 4vh;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: inset 4px 4px 4px #ffad33;
}

/* line 8, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/contact.scss */
body {
  background-color: #ffad33;
}

/* line 11, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/contact.scss */
#box1 {
  float: left;
  width: 30%;
  text-align: center;
  color: #5c5c3d;
  text-shadow: 1px 1px 1px #55552b;
  margin-left: 8vw;
  margin-top: 4vh;
  font-size: 1.2em;
  padding: 4vh;
  line-height: 7vh;
  background-color: #ff751a;
  border: 6px solid #ffb84d;
}

/* line 25, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/contact.scss */
#box2 {
  float: right;
  width: 30%;
  text-align: center;
  margin-right: 8vw;
  margin-top: 4vh;
  color: #5c5c3d;
  text-shadow: 1px 1px 1px #55552b;
  font-size: 1.2em;
  line-height: 9vh;
}

/* line 36, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/contact.scss */
.clearfix {
  clear: both;
}

/*# sourceMappingURL=../css/contact.map */

.dropbtn {
    background-color: #ffeb99;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

#dropmenu div{
    width: 35px;
    height: 5px;
    background-color: #595959;
    margin: 6px 0;
    border-radius: 3px;
    
}

/*////////////////////////////////////////////////*/

@media screen and (min-width: 1280px){
    .dropbtn{
        display: none;
    }
}

/*////////////////////////////////////////////*/

@media screen and (min-width: 1024px) and (max-width: 1280px){
    .dropbtn{
        display: none;
    }
    #btn{
        font-size: 0.7em;
    }
}

/*////////////////////////////////////////*/

@media screen and (min-width: 768px) and (max-width: 1024px){
    .dropbtn{
        display: none;
    }
    nav ul li{
        font-size: 2.2em;
        margin-left: 4vw;
        padding-left: 4vw;
    }
    #subscribe form label{
        margin-left: 20px;
    }
    #subscribe form input[type="email"]{
        margin-left: 20px;
    }
    #btn{
        width: 16vw;
        font-size: 0.6em;
    }
    #box2{
        margin-right: 11vw;
    }
    #box1{
        width: 40%;
        margin-left: 4vw;
    }
}

/*///////////////////////////////////////////*/

@media screen and (min-width: 720px) and (max-width: 768px){
    .dropbtn{
        display: none;
    }
    nav ul li{
        font-size: 2em;
        margin-left: 4vw;
        padding-left: 4vw;
    }
    #subscribe form label{
        margin-left: 20px;
    }
    #subscribe form input[type="email"]{
        margin-left: 20px;
    }
    #btn{
        width: 16vw;
        font-size: 0.6em;
    }
    #box2{
        margin-right: 9vw;
    }
    #box1{
        width: 40%;
        margin-left: 4vw;
    } 
}

/*/////////////////////////////////////////////*/

@media screen and (min-width: 407px) and (max-width: 720px){
   nav ul li{
        display: none;
    }
    #subscribe form label{
        margin-left: 10px;
        font-size: 0.7em;
    }
    #subscribe form input[type="email"]{
        margin-left: 20px;
    }
    #btn{
        width: 28vw;
        font-size: 0.6em;
    }
    #box2{
        margin-right: 9vw;
        width: 80%;
        float: left;
        margin-left: 20px;
    }
    #box1{
        width: 40%;
        margin-left: 4vw;
        width: 80%;
        float: left;
    }
    #logo{
        font-size: 1.4rem;
    }
}

/*//////////////////////////////////*/

@media screen and (min-width: 375px) and (max-width: 407px){
   nav ul li{
        display: none;
    }
    #subscribe form label{
        margin-left: 10px;
        font-size: 0.6em;
    }
    #subscribe form input[type="email"]{
        margin-left: 20px;
    }
    #btn{
        width: 22vw;
        font-size: 0.4em;
        height: 40px;
        padding-right: 12px;
    }
    #box2{
        margin-right: 9vw;
        width: 80%;
        float: left;
        margin-left: 20px;
    }
    #box1{
        width: 40%;
        margin-left: 4vw;
        width: 80%;
        float: left;
    }
    #logo{
        font-size: 1.2rem;
    }
}

/*//////////////////////////////////////////*/

@media screen and (min-width: 360px) and (max-width: 375px){
   nav ul li{
        display: none;
    }
    #subscribe form label{
        margin-left: 10px;
        font-size: 0.5em;
    }
    #subscribe form input[type="email"]{
        margin-left: 20px;
    }
    #btn{
        width: 25vw;
        font-size: 0.4em;
        height: 40px;
        padding-right: 12px;
        margin-left: 20px;
    }
    #box2{
        margin-right: 9vw;
        width: 80%;
        float: left;
        margin-left: 20px;
    }
    #box1{
        width: 40%;
        margin-left: 4vw;
        width: 80%;
        float: left;
    }
    #logo{
        font-size: 1.2rem;
    }
}
/*///////////////////////////////////////////////*/

@media screen and (min-width: 320px) and (max-width: 360px){
   nav ul li{
        display: none;
    }
    #subscribe form label{
        margin-left: 10px;
        font-size: 0.5em;
    }
    #subscribe form input[type="email"]{
        margin-left: 20px;
    }
    #btn{
        width: 25vw;
        font-size: 0.4em;
        height: 40px;
        padding-right: 12px;
        margin-left: 20px;
    }
    #box2{
        margin-right: 9vw;
        width: 80%;
        float: left;
        margin-left: 20px;
    }
    #box1{
        width: 40%;
        margin-left: 4vw;
        width: 80%;
        float: left;
    }
    #logo{
        font-size: 1.2rem;
    }
}