/* line 1, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_header.scss */
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh;
  background: linear-gradient(180deg, #e68a00, #ffeb99);
}

/* line 7, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_header.scss */
#logo {
  font-family: 'Alegreya', serif;
  color: #737373;
  font-size: 2.2rem;
  margin-left: 9vw;
  text-shadow: 8px 12px 13px #6a6a48;
}

/* line 1, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_nav.scss */
#navigation {
  width: 100%;
  background-color: #ffeb99;
}

/* line 5, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_nav.scss */
nav ul li {
  display: inline;
  font-size: 2.4em;
  margin-left: 11vw;
}

/* line 10, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_nav.scss */
#navigation a:link {
  text-decoration: none;
  color: #4d4d4d;
  font-family: 'Bree Serif', serif;
  text-shadow: 3px 3px 3px #999966;
}

/* line 17, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_nav.scss */
#navigation a:hover {
  text-shadow: -3px -3px 4px #999966;
}

/* line 20, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_nav.scss */
#navigation a:visited {
  color: #4d4d4d;
  text-decoration: none;
}

/* line 1, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_subscribe.scss */
#subscribe {
  width: 100%;
  height: 16vh;
  background: linear-gradient(280deg, #e68a00, #ffeb99);
  color: aqua;
  font-size: 2.2em;
  box-shadow: -12px -12px 8px #ffe066;
}

/* line 9, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_subscribe.scss */
#subscribe form {
  float: right;
  margin-right: 19vw;
  margin-top: 4vh;
}

/* line 15, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_subscribe.scss */
#subscribe form input[type="email"] {
  height: 3.6vh;
  margin-right: 1.8vw;
}

/* line 19, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_subscribe.scss */
#subscribe form label {
  margin-right: 3.6vw;
  margin-top: 4vh;
  color: #737373;
  text-shadow: 2px 2px 2px #6b6b47;
}

/* line 1, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/base/_reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 2, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/modules/_buttons.scss */
#btn {
  width: 14vw;
  height: 9vh;
  background: #262626;
  color: white;
  margin: auto;
  text-align: center;
  padding: 1.5vh;
  box-sizing: border-box;
  margin-top: 3.1vh;
  border: 2px solid #bfbfbf;
  border-radius: 5px;
  text-shadow: 1px 1px 1px #bfbfbf;
  font-size: 1em;
  cursor: pointer;
}

/* line 1, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/layout/_footer.scss */
#footer {
  width: 85%;
  background-color: #e65c00;
  margin: auto;
  height: 10vh;
  text-align: center;
  padding: 4vh;
  box-sizing: border-box;
  font-size: 1.2em;
  color: #5c5c3d;
  font-weight: bold;
  margin-top: 4vh;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: inset 4px 4px 4px #ffad33;
}

/* line 8, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/services.scss */
body {
  background-color: #ffad33;
}

/* line 11, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/services.scss */
#srv {
  width: 10vw;
  text-align: center;
  margin-left: 13vw;
  margin-top: 3vh;
  color: #737373;
  text-shadow: 1px 1px 1px #6b6b47;
}

/* line 19, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/services.scss */
#form {
  background: linear-gradient(90deg, #999966, #f5f5f0);
  float: right;
  margin-right: 2vw;
  margin-bottom: 4vh;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #cc7a00;
  text-shadow: 1px 1px 1px #3d3d29;
  letter-spacing: 0.1em;
  border-radius: 5px;
  box-shadow: -7px -7px 7px #ffd633;
}

/* line 33, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/services.scss */
.form-group {
  margin-top: 4vh;
  font-size: 1.2em;
  padding: 12px;
}

/* line 39, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/services.scss */
.form-group input {
  height: 4vh;
}

/* line 42, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/services.scss */
#form h3 {
  text-align: center;
  margin-top: 1vh;
  font-size: 2em;
}

/* line 47, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/services.scss */
legend {
  text-align: center;
}

/* line 50, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/services.scss */
#dugme {
  width: 10vw;
  height: 4vw;
  margin-left: 10vw;
  margin-bottom: 2vh;
  margin-top: 5vh;
  font-family: 'Francois One', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid #bfbfbf;
  background: #262626;
  color: white;
  text-shadow: 1px 1px 1px #bfbfbf;
}

/* line 66, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/services.scss */
#dugme:hover {
  cursor: pointer;
}

/* line 69, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/services.scss */
.boxes {
  font-size: 1.3em;
  float: left;
  margin-left: 2vw;
  margin-top: 4vw;
  padding: 10px;
  background-color: #e65c00;
  box-shadow: -7px -7px 7px #ff8533;
  color: #4d4d33;
  text-shadow: 1px 1px 1px #2e2e1f;
}

/* line 80, C:/Users/prodigy/Downloads/_skidanje/WebSite/scss/services.scss */
.clearfix {
  clear: both;
}

/*# sourceMappingURL=../css/services.map */