*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh;
    background: linear-gradient(180deg,rgb(230, 138, 0),rgb(255, 235, 153)); 
}
#logo{
    font-family:  'Alegreya', serif;
    color: #737373;
    font-size: 2.2rem;
    margin-left: 9vw;
    text-shadow: 8px 12px 13px #6a6a48;
}
#navigation{
    width: 100%;
    background-color: rgb(255, 235, 153); 
}
 nav ul li {
    color: #4d4d4d;
    text-decoration: none;
    display: inline;
    font-size: 2.4em;
    margin-left: 11vw;
}
#navigation a:link {
    text-decoration: none;
    color: #4d4d4d;
    font-family: 'Bree Serif', serif;
    text-shadow: 3px 3px 3px #999966;
    
}
#navigation a:hover{
    text-shadow: -3px -3px 4px #999966;
}
#navigation a:visited{
   color: #4d4d4d;
   text-decoration: none;
}
.wrapper2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70vh;
    background-image: linear-gradient(140deg,rgba(255, 128, 0,0.8),rgba(255, 255, 77,0.7)),url('../img/office.png');
    background-size: cover;
    box-shadow: inset 8px 10px 20px rgb(255, 235, 153);
}

#showcase{
    margin: auto;
    font-size: 1.8rem;
    font-family: 'Francois One', sans-serif;
    color: #595959;
    margin-top: 12vh;
    word-spacing: 0.4em;
    text-shadow: 2px 3px 2px #cccccc;
    text-align: center;
}

#btn{
    width: 16vw;
    height: 11vh;
    background: #262626; 
    color: white;
    margin: auto;
    text-align: center;
    padding: 1.5vh;
    box-sizing: border-box;
    margin-top: 1.6vh;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #bfbfbf;
    font-size: 1em;
    cursor: pointer;
    opacity: 0;
    animation-name: btn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
#showcase h1{
    animation-name: headingh1;
    animation-duration: 4s;
}
#showcase h2{
    animation-name: headingh2;
    animation-duration: 3s;
}
/*//////////////////////////////////////////*/

.dropbtn {
    background-color: #ffeb99;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

#dropmenu div{
    width: 35px;
    height: 5px;
    background-color: #595959;
    margin: 6px 0;
    border-radius: 3px;
    
}



/*///////////////////////////////////////////*/

@keyframes headingh1{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes headingh2{
    0%{
        transform:translateX(-300px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes btn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/*///////////////////////////////////////*/


@media screen and (min-width: 1280px) and (max-width: 1536px){
    
    .dropbtn{
        display: none;
    }
}

/*////////////////////////////////////*/


@media screen and (min-width: 1024px) and (max-width: 1280px){
    
    #btn{
        font-size: 0.9em;
        width: 18vw;
    }
    
    .dropbtn{
        display: none;
    }
    
}


/*//////////////////////////////////////*/


@media screen and (min-width: 768px) and (max-width: 1024px){
    
    #btn{
        font-size: 0.9em;
        width: 21vw;
    }
    
    nav ul li{
        font-size: 2.2em;
        margin-left: 4vw;
        padding-left: 4vw;
    }
    
    #showcase{
        font-size: 1.4rem;
    }
    
    .dropbtn{
        display: none;
    }
}


/*///////////////////////////////////*/


@media screen and (min-width: 720px) and (max-width: 768px){
    
    #btn{
        font-size: 1em;
        width: 23vw;
    }
    
    nav ul li{
        font-size: 2.2em;
        margin-left: 4vw;
        padding-left: 3vw;
    }
    
    #showcase{
        font-size: 1.3rem;
    }
    
    .dropbtn{
        display: none;
    }
}


/*///////////////////////////////////////*/


@media screen and (min-width: 407px) and (max-width: 720px){
    
     #btn{
        font-size: 1.1em;
        width: 36vw;
    }
    
    nav ul li{
        font-size: 1.4em;
        margin-left: 2vw;
        padding-left: 2vw;
    }
    
    #showcase{
        font-size: 1rem;
    }
    
    #logo{
         font-size: 1.4rem;
         margin-left: 5vw;
    }
    
    .dropbtn{
        display: none;
    }
}


/*///////////////////////////////////////*/


@media screen and (min-width: 375px) and (max-width: 407px){
    
    
     #btn{
        font-size: 1.1em;
        width: 36vw;
    }
    
    nav ul li{
        display: none;
    }
    
    #showcase{
        font-size: 1rem;
    }
    
    #logo{
         font-size: 1.4rem;
         margin-left: 5vw;
    }
    
}


/*///////////////////////////////////////*/


@media screen and (min-width: 360px) and (max-width: 375px){
    
     #btn{
        font-size: 1.1em;
        width: 38vw;
    }
    
    nav ul li{
        display: none;
    }
    
    #showcase{
        font-size: 1rem;
    }
    
    #logo{
         font-size: 1.4rem;
         margin-left: 5vw;
    }
}


/*///////////////////////////////////////*/


@media screen and (min-width: 320px) and (max-width: 360px){
    
    #btn{
        font-size: 1.1em;
        width: 42vw;
    }
    
    nav ul li{
        display: none;
    }
    
    #showcase{
        font-size: 1rem;
    }
    
    #logo{
         font-size: 1.2rem;
         margin-left: 5vw;
         margin-top: 7vw;
    }
}
