#footer{
    width: 85%;
    background-color: #e65c00;
    margin: auto;
    height: 10vh;
    text-align: center;
    padding: 4vh;
    box-sizing: border-box;
    font-size: 1.2em;
    color: #5c5c3d;
    font-weight: bold;
    margin-top: 4vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: inset 4px 4px 4px #ffad33;
}