
#btn{
    width: 14vw;
    height: 9vh;
    background: #262626; 
    color: white;
    margin: auto;
    text-align: center;
    padding: 1.5vh;
    box-sizing: border-box;
    margin-top: 3.1vh;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #bfbfbf;
    font-size: 1em;
    cursor: pointer;
    }